In [1]:
import src.config

# Merritt costs 2018-05-08

In [2]:
from src.costs import *

for service in services:
    # TODO: figure out where extra ### is coming from
    display_summary(service)

## Misc

##### Total cost: $234.9

,aws_service,device,usage_type,cost,basis
332,DataTransfer,,Out-Bytes,$0.15,1.652917377777778 gb - first 10 tb / month data transfer at $0.09 ea.
9,Multi,,AZUsage:db.m4.large,$131.25,375.0 instance hour at $0.35 ea.
84,RDS,,GP2-Storage,$11.5,99.99999982608695 gb-month at $0.12 ea.
28,RDS,,Multi-AZ-GP2-Storage,$92.0,400.0000000869565 gb-month at $0.23 ea.

## audit

##### Total cost: $874.63

###

##### Total cost for audit : $0.0

### dev

##### Total cost for audit dev: $15.84

#### uc3-mrtaudit-dev

#### Total cost for uc3-mrtaudit-dev: $15.84

,aws_service,device,usage_type,cost,basis
119,BoxUsage,,t2.small,$5.7,245.74668431034488 instance hour at $0.02 ea.
145,EBS,/dev/sdb,SnapshotUsage,$4.3,86.09335983999999 gb-month at $0.05 ea.
147,EBS,/dev/sdb,VolumeUsage,$4.25,85.00000032 gb-month at $0.05 ea.
232,EBS,/dev/xvda,SnapshotUsage,$0.83,16.63932154 gb-month at $0.05 ea.
431,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.025088 million i/o requests at $0.05 ea.
256,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
344,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for audit prd: $838.65

#### uc3-mrtaudit1-prd

#### Total cost for uc3-mrtaudit1-prd: $280.2

,aws_service,device,usage_type,cost,basis
50,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
81,DataTransfer,,Out-Bytes,$12.48,138.67034366666667 gb - first 10 tb / month data transfer at $0.09 ea.
322,DataTransfer,,Regional-Bytes,$0.28,28.204674899999997 gb - regional data transfer at $0.01 ea.
12,EBS,,SnapshotUsage,$109.78,1995.979810909091 gb-month at $0.06 ea.
85,EBS,/dev/sdb,SnapshotUsage,$11.34,226.78274399999998 gb-month at $0.05 ea.
424,EBS,/dev/sdb,VolumeIOUsage,$0.06,1.1213289999999998 million i/o requests at $0.05 ea.
87,EBS,/dev/sdb,VolumeUsage,$10.6,211.9999996 gb-month at $0.05 ea.
22,EBS,/dev/sdc,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
194,EBS,/dev/xvda,SnapshotUsage,$1.11,22.27394654 gb-month at $0.05 ea.
316,EBS,/dev/xvda,VolumeIOUsage,$0.44,8.827221 million i/o requests at $0.05 ea.
258,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
346,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtaudit2-prd

#### Total cost for uc3-mrtaudit2-prd: $160.28

,aws_service,device,usage_type,cost,basis
51,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
146,DataTransfer,,Out-Bytes,$4.28,47.53679175555556 gb - first 10 tb / month data transfer at $0.09 ea.
464,DataTransfer,,Regional-Bytes,$0.02,1.5423562 gb - regional data transfer at $0.01 ea.
90,EBS,/dev/sdb,SnapshotUsage,$10.22,204.42740019999997 gb-month at $0.05 ea.
447,EBS,/dev/sdb,VolumeIOUsage,$0.04,0.732537 million i/o requests at $0.05 ea.
91,EBS,/dev/sdb,VolumeUsage,$10.0,200.00000020000002 gb-month at $0.05 ea.
23,EBS,/dev/sdc,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
199,EBS,/dev/xvda,SnapshotUsage,$1.09,21.74597146 gb-month at $0.05 ea.
313,EBS,/dev/xvda,VolumeIOUsage,$0.53,10.593774 million i/o requests at $0.05 ea.
259,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
347,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtaudit3-prd

#### Total cost for uc3-mrtaudit3-prd: $170.56

,aws_service,device,usage_type,cost,basis
52,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
74,DataTransfer,,Out-Bytes,$13.41,149.03765033333335 gb - first 10 tb / month data transfer at $0.09 ea.
320,DataTransfer,,Regional-Bytes,$0.3,29.708754199999998 gb - regional data transfer at $0.01 ea.
86,EBS,/dev/sdb,SnapshotUsage,$10.6,212.00085860000002 gb-month at $0.05 ea.
429,EBS,/dev/sdb,VolumeIOUsage,$0.05,1.0463149999999999 million i/o requests at $0.05 ea.
88,EBS,/dev/sdb,VolumeUsage,$10.6,211.9999996 gb-month at $0.05 ea.
24,EBS,/dev/sdc,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
196,EBS,/dev/xvda,SnapshotUsage,$1.1,21.935984199999996 gb-month at $0.05 ea.
318,EBS,/dev/xvda,VolumeIOUsage,$0.39,7.899434 million i/o requests at $0.05 ea.
260,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
348,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtaudit4-prd

#### Total cost for uc3-mrtaudit4-prd: $227.61

,aws_service,device,usage_type,cost,basis
53,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
82,DataTransfer,,Out-Bytes,$11.65,129.42936555555556 gb - first 10 tb / month data transfer at $0.09 ea.
323,DataTransfer,,Regional-Bytes,$0.28,27.988528499999997 gb - regional data transfer at $0.01 ea.
39,EBS,/dev/sdb,SnapshotUsage,$68.99,1379.791858 gb-month at $0.05 ea.
419,EBS,/dev/sdb,VolumeIOUsage,$0.06,1.2509919999999999 million i/o requests at $0.05 ea.
89,EBS,/dev/sdb,VolumeUsage,$10.6,211.9999996 gb-month at $0.05 ea.
25,EBS,/dev/sdc,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
183,EBS,/dev/xvda,SnapshotUsage,$1.52,30.448132 gb-month at $0.05 ea.
317,EBS,/dev/xvda,VolumeIOUsage,$0.4,8.007364999999998 million i/o requests at $0.05 ea.
261,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
349,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for audit stg: $20.14

#### uc3-mrtaudit-stg

#### Total cost for uc3-mrtaudit-stg: $20.14

,aws_service,device,usage_type,cost,basis
109,BoxUsage,,t2.small,$5.7,245.77422185344832 instance hour at $0.02 ea.
94,EBS,/dev/sdb,SnapshotUsage,$8.54,170.76471873999998 gb-month at $0.05 ea.
148,EBS,/dev/sdb,VolumeUsage,$4.25,85.00000032 gb-month at $0.05 ea.
225,EBS,/dev/xvda,SnapshotUsage,$0.88,17.62764134 gb-month at $0.05 ea.
408,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.397853 million i/o requests at $0.05 ea.
257,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
345,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## dat

##### Total cost: $21.06

###

##### Total cost for dat : $0.0

### dev

##### Total cost for dat dev: $21.06

#### uc3-mrtdat1-dev

#### Total cost for uc3-mrtdat1-dev: $21.06

,aws_service,device,usage_type,cost,basis
107,BoxUsage,,t2.small,$6.01,259.0749503448276 instance hour at $0.02 ea.
75,EBS,/dev/sdb,VolumeUsage,$13.25,265.0000004 gb-month at $0.05 ea.
202,EBS,/dev/xvda,SnapshotUsage,$1.07,21.476994659999995 gb-month at $0.05 ea.
454,EBS,/dev/xvda,VolumeIOUsage,$0.03,0.575947 million i/o requests at $0.05 ea.
262,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
350,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for dat prd: $0.0

### stg

##### Total cost for dat stg: $0.0

## dataone

##### Total cost: $149.75

###

##### Total cost for dataone : $0.0

### dev

##### Total cost for dataone dev: $12.66

#### uc3-mrtdataone-dev

#### Total cost for uc3-mrtdataone-dev: $12.66

,aws_service,device,usage_type,cost,basis
123,BoxUsage,,t2.small,$5.7,245.7450326724138 instance hour at $0.02 ea.
156,EBS,/dev/sdb,SnapshotUsage,$2.79,55.86718442 gb-month at $0.05 ea.
459,EBS,/dev/sdb,VolumeIOUsage,$0.02,0.40147 million i/o requests at $0.05 ea.
159,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
243,EBS,/dev/xvda,SnapshotUsage,$0.76,15.106092219999997 gb-month at $0.05 ea.
449,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.7143139999999999 million i/o requests at $0.05 ea.
263,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
351,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for dataone prd: $124.22

#### uc3-mrtdataone-prd

#### Total cost for uc3-mrtdataone-prd: $124.22

,aws_service,device,usage_type,cost,basis
65,BoxUsage,,t2.small,$16.56,713.7931034482758 instance hour at $0.02 ea.
467,DataTransfer,,Regional-Bytes,$0.01,1.4201047 gb - regional data transfer at $0.01 ea.
60,EBS,,SnapshotUsage,$25.9,470.96297054545454 gb-month at $0.06 ea.
58,EBS,/dev/sdb,SnapshotUsage,$26.9,537.9385619999999 gb-month at $0.05 ea.
43,EBS,/dev/sdb,VolumeUsage.gp2,$53.0,529.9999998999999 gb-month at $0.1 ea.
200,EBS,/dev/xvda,SnapshotUsage,$1.08,21.698484599999997 gb-month at $0.05 ea.
414,EBS,/dev/xvda,VolumeIOUsage,$0.06,1.283651 million i/o requests at $0.05 ea.
264,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
352,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for dataone stg: $12.87

#### uc3-mrtdataone-stg

#### Total cost for uc3-mrtdataone-stg: $12.87

,aws_service,device,usage_type,cost,basis
124,BoxUsage,,t2.small,$5.7,245.74475607758623 instance hour at $0.02 ea.
155,EBS,/dev/sdb,SnapshotUsage,$2.86,57.16962973999999 gb-month at $0.05 ea.
450,EBS,/dev/sdb,VolumeIOUsage,$0.04,0.701842 million i/o requests at $0.05 ea.
160,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
224,EBS,/dev/xvda,SnapshotUsage,$0.89,17.8200171 gb-month at $0.05 ea.
452,EBS,/dev/xvda,VolumeIOUsage,$0.03,0.6815169999999999 million i/o requests at $0.05 ea.
265,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
353,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## express

##### Total cost: $202.51

###

##### Total cost for express : $0.0

### dev

##### Total cost for express dev: $2.3

#### uc3-mrtexpress-dev

#### Total cost for uc3-mrtexpress-dev: $2.3

,aws_service,device,usage_type,cost,basis
398,BoxUsage,,t2.small,$0.09,3.770270043103449 instance hour at $0.02 ea.
405,EBS,/dev/sdb,SnapshotUsage,$0.08,1.5792656999999999 gb-month at $0.05 ea.
206,EBS,/dev/sdb,VolumeUsage,$1.05,20.999999519999996 gb-month at $0.05 ea.
319,EBS,/dev/xvda,SnapshotUsage,$0.38,7.676468279999999 gb-month at $0.05 ea.
266,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
354,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for express prd: $191.98

#### uc3-mrtexpress-prd

#### Total cost for uc3-mrtexpress-prd: $0.02

,aws_service,device,usage_type,cost,basis
476,EBS,/dev/sdb,SnapshotUsage,$0.01,0.21279295999999998 gb-month at $0.05 ea.
470,EBS,/dev/xvda,SnapshotUsage,$0.01,0.2531901 gb-month at $0.05 ea.

#### uc3-mrtexpress-prd-2a

#### Total cost for uc3-mrtexpress-prd-2a: $149.84

,aws_service,device,usage_type,cost,basis
2,BoxUsage,,m4.xlarge,$144.0,720.0 instance hour at $0.2 ea.
416,DataTransfer,,Regional-Bytes,$0.06,6.3185122 gb - regional data transfer at $0.01 ea.
197,EBS,,SnapshotUsage,$1.09,19.906248636363635 gb-month at $0.06 ea.
307,EBS,/dev/sdb,SnapshotUsage,$0.57,11.32539904 gb-month at $0.05 ea.
417,EBS,/dev/sdb,VolumeIOUsage,$0.06,1.2619949999999998 million i/o requests at $0.05 ea.
161,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
249,EBS,/dev/xvda,SnapshotUsage,$0.65,12.95867144 gb-month at $0.05 ea.
426,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.094415 million i/o requests at $0.05 ea.
267,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
355,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtexpress-prd-2c

#### Total cost for uc3-mrtexpress-prd-2c: $21.94

,aws_service,device,usage_type,cost,basis
71,BoxUsage,,t2.small,$16.51,711.8103448275863 instance hour at $0.02 ea.
457,DataTransfer,,Regional-Bytes,$0.02,2.4354895 gb - regional data transfer at $0.01 ea.
248,EBS,,SnapshotUsage,$0.71,12.887310800000002 gb-month at $0.06 ea.
314,EBS,/dev/sdb,SnapshotUsage,$0.52,10.475095459999999 gb-month at $0.05 ea.
418,EBS,/dev/sdb,VolumeIOUsage,$0.06,1.258643 million i/o requests at $0.05 ea.
162,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
247,EBS,/dev/xvda,SnapshotUsage,$0.71,14.235883659999999 gb-month at $0.05 ea.
435,EBS,/dev/xvda,VolumeIOUsage,$0.05,0.968389 million i/o requests at $0.05 ea.
268,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
356,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtexpress-prd-alb

#### Total cost for uc3-mrtexpress-prd-alb: $20.17

,aws_service,device,usage_type,cost,basis
333,DataTransfer,,Out-Bytes,$0.12,1.3657827 gb - first 10 tb / month data transfer at $0.09 ea.
177,DataTransfer,,Regional-Bytes,$2.15,214.56515710000002 gb - regional data transfer at $0.01 ea.
179,LCUUsage,,,$1.71,213.149350625 load balancer capacity unit-hour at $0.01 ea.
72,LoadBalancerUsage,,,$16.2,720.0 loadbalancer-hour at $0.02 ea.

### stg

##### Total cost for express stg: $8.23

#### uc3-mrtexpress-stg

#### Total cost for uc3-mrtexpress-stg: $8.23

,aws_service,device,usage_type,cost,basis
110,BoxUsage,,t2.small,$5.7,245.77229461206898 instance hour at $0.02 ea.
334,EBS,/dev/sdb,SnapshotUsage,$0.11,2.23454716 gb-month at $0.05 ea.
207,EBS,/dev/sdb,VolumeUsage,$1.05,20.999999519999996 gb-month at $0.05 ea.
250,EBS,/dev/xvda,SnapshotUsage,$0.63,12.68378662 gb-month at $0.05 ea.
453,EBS,/dev/xvda,VolumeIOUsage,$0.03,0.6662039999999999 million i/o requests at $0.05 ea.
269,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
357,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## ingest

##### Total cost: $966.22

###

##### Total cost for ingest : $0.0

### dev

##### Total cost for ingest dev: $12.68

#### uc3-mrtingest1-dev

#### Total cost for uc3-mrtingest1-dev: $12.68

,aws_service,device,usage_type,cost,basis
115,BoxUsage,,t2.small,$5.7,245.76127741379312 instance hour at $0.02 ea.
157,EBS,/dev/sdc,SnapshotUsage,$2.71,54.290095279999996 gb-month at $0.05 ea.
158,EBS,/dev/sdc,VolumeUsage,$2.7,54.0 gb-month at $0.05 ea.
235,EBS,/dev/xvda,SnapshotUsage,$0.82,16.313385580000002 gb-month at $0.05 ea.
433,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.000154 million i/o requests at $0.05 ea.
270,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
358,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for ingest prd: $904.76

#### uc3-ingest01-prd

#### Total cost for uc3-ingest01-prd: $298.51

,aws_service,device,usage_type,cost,basis
36,BoxUsage,,m4.large,$72.0,720.0 instance hour at $0.1 ea.
458,DataTransfer,,Out-Bytes,$0.02,0.2526621666666667 gb - first 10 tb / month data transfer at $0.09 ea.
240,DataTransfer,,Regional-Bytes,$0.8,79.701657 gb - regional data transfer at $0.01 ea.
47,EBS,,SnapshotUsage,$48.94,889.7903963636364 gb-month at $0.06 ea.
33,EBS,/dev/sdb,SnapshotUsage,$74.9,1498.0980266 gb-month at $0.05 ea.
19,EBS,/dev/sdb,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
204,EBS,/dev/xvda,SnapshotUsage,$1.07,21.35783588 gb-month at $0.05 ea.
401,EBS,/dev/xvda,VolumeIOUsage,$0.08,1.632336 million i/o requests at $0.05 ea.
251,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
339,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-ingest02-prd

#### Total cost for uc3-ingest02-prd: $304.08

,aws_service,device,usage_type,cost,basis
37,BoxUsage,,m4.large,$72.0,720.0 instance hour at $0.1 ea.
471,DataTransfer,,Out-Bytes,$0.01,0.13854552222222222 gb - first 10 tb / month data transfer at $0.09 ea.
336,DataTransfer,,Regional-Bytes,$0.11,10.6412806 gb - regional data transfer at $0.01 ea.
49,EBS,,SnapshotUsage,$48.23,876.9785850909091 gb-month at $0.06 ea.
31,EBS,/dev/sdb,SnapshotUsage,$81.95,1638.9106066 gb-month at $0.05 ea.
20,EBS,/dev/sdb,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
215,EBS,/dev/xvda,SnapshotUsage,$1.0,20.04071404 gb-month at $0.05 ea.
400,EBS,/dev/xvda,VolumeIOUsage,$0.08,1.6628499999999997 million i/o requests at $0.05 ea.
253,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
341,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-ingest03-prd

#### Total cost for uc3-ingest03-prd: $302.17

,aws_service,device,usage_type,cost,basis
38,BoxUsage,,m4.large,$72.0,720.0 instance hour at $0.1 ea.
451,DataTransfer,,Regional-Bytes,$0.03,3.4430389 gb - regional data transfer at $0.01 ea.
48,EBS,,SnapshotUsage,$48.3,878.202397090909 gb-month at $0.06 ea.
32,EBS,/dev/sdb,SnapshotUsage,$79.96,1599.1788106000001 gb-month at $0.05 ea.
21,EBS,/dev/sdb,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
198,EBS,/dev/xvda,SnapshotUsage,$1.09,21.83663438 gb-month at $0.05 ea.
403,EBS,/dev/xvda,VolumeIOUsage,$0.08,1.622043 million i/o requests at $0.05 ea.
255,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
343,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for ingest stg: $48.77

#### uc3-ingest01-stg

#### Total cost for uc3-ingest01-stg: $24.37

,aws_service,device,usage_type,cost,basis
127,BoxUsage,,t2.small,$5.7,245.74007280172412 instance hour at $0.02 ea.
150,EBS,/dev/sdb,SnapshotUsage,$4.06,81.16134962 gb-month at $0.05 ea.
96,EBS,/dev/sdb,VolumeUsage.gp2,$8.0,79.99999992 gb-month at $0.1 ea.
139,EBS,/dev/sdc,VolumeUsage.gp2,$5.0,49.999999679999995 gb-month at $0.1 ea.
230,EBS,/dev/xvda,SnapshotUsage,$0.86,17.24276284 gb-month at $0.05 ea.
428,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.058079 million i/o requests at $0.05 ea.
252,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
340,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-ingest02-stg

#### Total cost for uc3-ingest02-stg: $24.4

,aws_service,device,usage_type,cost,basis
128,BoxUsage,,t2.small,$5.7,245.7378709482759 instance hour at $0.02 ea.
149,EBS,/dev/sdb,SnapshotUsage,$4.07,81.32564148 gb-month at $0.05 ea.
97,EBS,/dev/sdb,VolumeUsage.gp2,$8.0,79.99999992 gb-month at $0.1 ea.
140,EBS,/dev/sdc,VolumeUsage.gp2,$5.0,49.999999679999995 gb-month at $0.1 ea.
227,EBS,/dev/xvda,SnapshotUsage,$0.87,17.49172166 gb-month at $0.05 ea.
427,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.0728039999999999 million i/o requests at $0.05 ea.
254,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
342,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## inv

##### Total cost: $85.02

###

##### Total cost for inv : $0.0

### dev

##### Total cost for inv dev: $12.39

#### uc3-mrtinv-dev

#### Total cost for uc3-mrtinv-dev: $12.39

,aws_service,device,usage_type,cost,basis
116,BoxUsage,,t2.small,$5.7,245.7535694396552 instance hour at $0.02 ea.
171,EBS,/dev/sdb,SnapshotUsage,$2.57,51.45289457999999 gb-month at $0.05 ea.
474,EBS,/dev/sdb,VolumeIOUsage,$0.01,0.232194 million i/o requests at $0.05 ea.
173,EBS,/dev/sdb,VolumeUsage,$2.5,49.999999679999995 gb-month at $0.05 ea.
231,EBS,/dev/xvda,SnapshotUsage,$0.85,16.913940519999997 gb-month at $0.05 ea.
423,EBS,/dev/xvda,VolumeIOUsage,$0.06,1.122047 million i/o requests at $0.05 ea.
271,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
359,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for inv prd: $50.03

#### uc3-mrtinv-prd

#### Total cost for uc3-mrtinv-prd: $26.9

,aws_service,device,usage_type,cost,basis
66,BoxUsage,,t2.small,$16.56,713.7931034482758 instance hour at $0.02 ea.
421,DataTransfer,,Regional-Bytes,$0.06,6.0956078 gb - regional data transfer at $0.01 ea.
154,EBS,,SnapshotUsage,$2.9,52.637827290909094 gb-month at $0.06 ea.
153,EBS,/dev/sdb,SnapshotUsage,$3.1,62.0089018 gb-month at $0.05 ea.
335,EBS,/dev/sdb,VolumeIOUsage,$0.11,2.1459949999999997 million i/o requests at $0.05 ea.
174,EBS,/dev/sdb,VolumeUsage,$2.5,49.999999679999995 gb-month at $0.05 ea.
221,EBS,/dev/xvda,SnapshotUsage,$0.9,17.99423878 gb-month at $0.05 ea.
407,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.490832 million i/o requests at $0.05 ea.
272,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
360,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtinv2-prd

#### Total cost for uc3-mrtinv2-prd: $23.14

,aws_service,device,usage_type,cost,basis
67,BoxUsage,,t2.small,$16.56,713.7931034482758 instance hour at $0.02 ea.
331,DataTransfer,,Regional-Bytes,$0.15,15.224087599999999 gb - regional data transfer at $0.01 ea.
191,EBS,,SnapshotUsage,$1.13,20.56450261818182 gb-month at $0.06 ea.
228,EBS,/dev/sdb,SnapshotUsage,$0.87,17.388286519999998 gb-month at $0.05 ea.
338,EBS,/dev/sdb,VolumeIOUsage,$0.11,2.112714 million i/o requests at $0.05 ea.
163,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
222,EBS,/dev/xvda,SnapshotUsage,$0.9,17.988450659999998 gb-month at $0.05 ea.
409,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.364854 million i/o requests at $0.05 ea.
274,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
362,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for inv stg: $22.6

#### uc3-mrtinv-stg

#### Total cost for uc3-mrtinv-stg: $12.4

,aws_service,device,usage_type,cost,basis
125,BoxUsage,,t2.small,$5.7,245.7420030172414 instance hour at $0.02 ea.
172,EBS,/dev/sdb,SnapshotUsage,$2.54,50.75327461999999 gb-month at $0.05 ea.
462,EBS,/dev/sdb,VolumeIOUsage,$0.02,0.335082 million i/o requests at $0.05 ea.
175,EBS,/dev/sdb,VolumeUsage,$2.5,49.999999679999995 gb-month at $0.05 ea.
223,EBS,/dev/xvda,SnapshotUsage,$0.89,17.896860859999997 gb-month at $0.05 ea.
439,EBS,/dev/xvda,VolumeIOUsage,$0.05,0.925932 million i/o requests at $0.05 ea.
273,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
361,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtinv2-stg

#### Total cost for uc3-mrtinv2-stg: $10.2

,aws_service,device,usage_type,cost,basis
117,BoxUsage,,t2.small,$5.7,245.75053879310346 instance hour at $0.02 ea.
324,EBS,/dev/sdb,SnapshotUsage,$0.28,5.57461478 gb-month at $0.05 ea.
469,EBS,/dev/sdb,VolumeIOUsage,$0.01,0.281202 million i/o requests at $0.05 ea.
164,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
234,EBS,/dev/xvda,SnapshotUsage,$0.82,16.365092419999996 gb-month at $0.05 ea.
444,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.758488 million i/o requests at $0.05 ea.
275,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
363,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## istatus

##### Total cost: $31.38

###

##### Total cost for istatus : $0.0

### dev

##### Total cost for istatus dev: $2.35

#### uc3-mrtistatus-dev

#### Total cost for uc3-mrtistatus-dev: $2.35

,aws_service,device,usage_type,cost,basis
399,BoxUsage,,t2.small,$0.09,3.768618405172414 instance hour at $0.02 ea.
312,EBS,/dev/sdb,SnapshotUsage,$0.54,10.82294654 gb-month at $0.05 ea.
309,EBS,/dev/sdb,VolumeUsage,$0.55,11.000000159999997 gb-month at $0.05 ea.
315,EBS,/dev/xvda,SnapshotUsage,$0.47,9.472050699999999 gb-month at $0.05 ea.
276,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
364,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for istatus prd: $20.6

#### uc3-mrtistatus-prd

#### Total cost for uc3-mrtistatus-prd: $20.6

,aws_service,device,usage_type,cost,basis
68,BoxUsage,,t2.small,$16.56,713.7931034482758 instance hour at $0.02 ea.
468,DataTransfer,,Regional-Bytes,$0.01,1.4148910000000001 gb - regional data transfer at $0.01 ea.
205,EBS,,SnapshotUsage,$1.05,19.091240327272725 gb-month at $0.06 ea.
305,EBS,/dev/sdb,SnapshotUsage,$0.6,11.93409846 gb-month at $0.05 ea.
310,EBS,/dev/sdb,VolumeUsage,$0.55,11.000000159999997 gb-month at $0.05 ea.
201,EBS,/dev/xvda,SnapshotUsage,$1.08,21.601842079999997 gb-month at $0.05 ea.
434,EBS,/dev/xvda,VolumeIOUsage,$0.05,0.975761 million i/o requests at $0.05 ea.
277,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
365,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for istatus stg: $8.43

#### uc3-mrtistatus-stg

#### Total cost for uc3-mrtistatus-stg: $8.43

,aws_service,device,usage_type,cost,basis
126,BoxUsage,,t2.small,$5.7,245.74200202586212 instance hour at $0.02 ea.
308,EBS,/dev/sdb,SnapshotUsage,$0.56,11.17008834 gb-month at $0.05 ea.
311,EBS,/dev/sdb,VolumeUsage,$0.55,11.000000159999997 gb-month at $0.05 ea.
226,EBS,/dev/xvda,SnapshotUsage,$0.88,17.557637359999998 gb-month at $0.05 ea.
442,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.8072999999999999 million i/o requests at $0.05 ea.
278,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
366,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## oai

##### Total cost: $73.26

###

##### Total cost for oai : $0.0

### dev

##### Total cost for oai dev: $17.17

#### uc3-mrtoai-dev

#### Total cost for uc3-mrtoai-dev: $17.17

,aws_service,device,usage_type,cost,basis
113,BoxUsage,,t2.small,$5.7,245.76651189655175 instance hour at $0.02 ea.
141,EBS,/dev/sdb,SnapshotUsage,$4.96,99.26072473999999 gb-month at $0.05 ea.
135,EBS,/dev/sdb,VolumeUsage,$5.0,99.99999935999999 gb-month at $0.05 ea.
245,EBS,/dev/xvda,SnapshotUsage,$0.75,14.900398000000001 gb-month at $0.05 ea.
422,EBS,/dev/xvda,VolumeIOUsage,$0.06,1.1438279999999998 million i/o requests at $0.05 ea.
279,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
367,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for oai prd: $38.79

#### uc3-mrtoai-prd

#### Total cost for uc3-mrtoai-prd: $38.79

,aws_service,device,usage_type,cost,basis
69,BoxUsage,,t2.small,$16.56,713.7931034482758 instance hour at $0.02 ea.
461,DataTransfer,,Regional-Bytes,$0.02,1.8313124 gb - regional data transfer at $0.01 ea.
132,EBS,,SnapshotUsage,$5.37,97.57505849090909 gb-month at $0.06 ea.
133,EBS,/dev/sdb,SnapshotUsage,$5.06,101.12738313999999 gb-month at $0.05 ea.
92,EBS,/dev/sdb,VolumeUsage.gp2,$10.0,100.00000010000001 gb-month at $0.1 ea.
212,EBS,/dev/xvda,SnapshotUsage,$1.02,20.422304139999998 gb-month at $0.05 ea.
415,EBS,/dev/xvda,VolumeIOUsage,$0.06,1.272475 million i/o requests at $0.05 ea.
280,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
368,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for oai stg: $17.31

#### uc3-mrtoai-stg

#### Total cost for uc3-mrtoai-stg: $17.31

,aws_service,device,usage_type,cost,basis
121,BoxUsage,,t2.small,$5.7,245.74613211206898 instance hour at $0.02 ea.
472,DataTransfer,,Regional-Bytes,$0.01,1.2131201 gb - regional data transfer at $0.01 ea.
134,EBS,/dev/sdb,SnapshotUsage,$5.03,100.69284902 gb-month at $0.05 ea.
473,EBS,/dev/sdb,VolumeIOUsage,$0.01,0.233585 million i/o requests at $0.05 ea.
136,EBS,/dev/sdb,VolumeUsage,$5.0,99.99999935999999 gb-month at $0.05 ea.
239,EBS,/dev/xvda,SnapshotUsage,$0.8,15.950444259999998 gb-month at $0.05 ea.
432,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.017841 million i/o requests at $0.05 ea.
281,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
369,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## replic

##### Total cost: $1010.92

###

##### Total cost for replic : $0.0

### dev

##### Total cost for replic dev: $210.73

#### uc3-mrtreplic1-dev

#### Total cost for uc3-mrtreplic1-dev: $55.59

,aws_service,device,usage_type,cost,basis
111,BoxUsage,,t2.small,$5.7,245.7720190086207 instance hour at $0.02 ea.
325,EBS,/dev/sdb,SnapshotUsage,$0.25,5.0949889 gb-month at $0.05 ea.
76,EBS,/dev/sdb,VolumeUsage,$13.25,265.0000004 gb-month at $0.05 ea.
238,EBS,/dev/xvda,SnapshotUsage,$0.8,16.038193879999998 gb-month at $0.05 ea.
420,EBS,/dev/xvda,VolumeIOUsage,$0.06,1.222202 million i/o requests at $0.05 ea.
282,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
95,EBS,/dev/xvdf,SnapshotUsage,$8.07,161.43055886 gb-month at $0.05 ea.
59,EBS,/dev/xvdf,VolumeUsage,$26.75,535.0000004 gb-month at $0.05 ea.
370,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtreplic2-dev

#### Total cost for uc3-mrtreplic2-dev: $155.13

,aws_service,device,usage_type,cost,basis
35,BoxUsage,,c4.large,$72.0,720.0 instance hour at $0.1 ea.
321,DataTransfer,,Out-Bytes,$0.29,3.200827888888889 gb - first 10 tb / month data transfer at $0.09 ea.
463,DataTransfer,,Regional-Bytes,$0.02,1.60111 gb - regional data transfer at $0.01 ea.
64,EBS,/dev/sdc,SnapshotUsage,$17.18,343.6342476 gb-month at $0.05 ea.
438,EBS,/dev/sdc,VolumeIOUsage,$0.05,0.929751 million i/o requests at $0.05 ea.
78,EBS,/dev/sdc,VolumeUsage,$12.5,249.99999979999998 gb-month at $0.05 ea.
61,EBS,/dev/sdd,SnapshotUsage,$25.64,512.728497 gb-month at $0.05 ea.
62,EBS,/dev/sdd,VolumeUsage,$25.0,499.99999959999997 gb-month at $0.05 ea.
180,EBS,/dev/xvda,SnapshotUsage,$1.67,33.3273649 gb-month at $0.05 ea.
393,EBS,/dev/xvda,VolumeIOUsage,$0.1,1.9956579999999997 million i/o requests at $0.05 ea.
284,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
372,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for replic prd: $759.46

#### uc3-mrtreplic1-prd

#### Total cost for uc3-mrtreplic1-prd: $405.03

,aws_service,device,usage_type,cost,basis
3,BoxUsage,,c4.xlarge,$143.28,720.0 instance hour at $0.2 ea.
152,DataTransfer,,Out-Bytes,$3.11,34.58402124444444 gb - first 10 tb / month data transfer at $0.09 ea.
460,DataTransfer,,Regional-Bytes,$0.02,1.9353528999999998 gb - regional data transfer at $0.01 ea.
44,EBS,,SnapshotUsage,$51.39,934.4268945454546 gb-month at $0.06 ea.
30,EBS,/dev/sdb,SnapshotUsage,$86.72,1734.3374832 gb-month at $0.05 ea.
16,EBS,/dev/sdb,VolumeUsage.gp2,$106.0,1060.0 gb-month at $0.1 ea.
328,EBS,/dev/sdc,SnapshotUsage,$0.2,3.97163762 gb-month at $0.05 ea.
77,EBS,/dev/sdc,VolumeUsage,$12.5,249.99999979999998 gb-month at $0.05 ea.
209,EBS,/dev/xvda,SnapshotUsage,$1.05,20.90258094 gb-month at $0.05 ea.
410,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.3454369999999998 million i/o requests at $0.05 ea.
283,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
371,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtreplic2-prd

#### Total cost for uc3-mrtreplic2-prd: $354.43

,aws_service,device,usage_type,cost,basis
4,BoxUsage,,c4.xlarge,$143.28,720.0 instance hour at $0.2 ea.
151,DataTransfer,,Out-Bytes,$3.27,36.30971581111112 gb - first 10 tb / month data transfer at $0.09 ea.
466,DataTransfer,,Regional-Bytes,$0.01,1.4533325 gb - regional data transfer at $0.01 ea.
63,EBS,/dev/sdb,SnapshotUsage,$19.03,380.69383819999996 gb-month at $0.05 ea.
79,EBS,/dev/sdb,VolumeUsage,$12.5,249.99999979999998 gb-month at $0.05 ea.
34,EBS,/dev/sdc,SnapshotUsage,$74.36,1487.182537 gb-month at $0.05 ea.
26,EBS,/dev/sdc,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
187,EBS,/dev/xvda,SnapshotUsage,$1.2,24.095877259999998 gb-month at $0.05 ea.
413,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.3103319999999998 million i/o requests at $0.05 ea.
285,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
373,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for replic stg: $40.73

#### uc3-mrtreplic2-stg

#### Total cost for uc3-mrtreplic2-stg: $40.73

,aws_service,device,usage_type,cost,basis
83,BoxUsage,,t2.medium,$11.5,247.89333405172414 instance hour at $0.05 ea.
102,EBS,/dev/sdb,SnapshotUsage,$7.35,147.04163394 gb-month at $0.05 ea.
101,EBS,/dev/sdb,VolumeUsage,$7.5,150.00000047999998 gb-month at $0.05 ea.
327,EBS,/dev/sdc,SnapshotUsage,$0.2,3.99596482 gb-month at $0.05 ea.
80,EBS,/dev/sdc,VolumeUsage,$12.5,249.99999979999998 gb-month at $0.05 ea.
220,EBS,/dev/xvda,SnapshotUsage,$0.93,18.639586119999997 gb-month at $0.05 ea.
436,EBS,/dev/xvda,VolumeIOUsage,$0.05,0.95066 million i/o requests at $0.05 ea.
286,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
374,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## store

##### Total cost: $1825.41

###

##### Total cost for store : $0.0

### dev

##### Total cost for store dev: $214.42

#### uc3-mrtstore2-dev

#### Total cost for uc3-mrtstore2-dev: $214.42

,aws_service,device,usage_type,cost,basis
46,BoxUsage,,c4.xlarge,$49.34,247.92166899497485 instance hour at $0.2 ea.
241,EBS,/dev/xvda,SnapshotUsage,$0.79,15.88836256 gb-month at $0.05 ea.
441,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.8161809999999999 million i/o requests at $0.05 ea.
289,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
42,EBS,/dev/xvdb,SnapshotUsage,$53.55,1071.0120089999998 gb-month at $0.05 ea.
10,EBS,/dev/xvdb,VolumeUsage.gp2,$110.0,1100.0 gb-month at $0.1 ea.
377,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for store prd: $1011.13

#### uc3-mrtstore1-prd

#### Total cost for uc3-mrtstore1-prd: $498.72

,aws_service,device,usage_type,cost,basis
6,BoxUsage,,c4.xlarge,$143.28,720.0 instance hour at $0.2 ea.
186,DataTransfer,,Out-Bytes,$1.33,14.830409144444445 gb - first 10 tb / month data transfer at $0.09 ea.
178,DataTransfer,,Regional-Bytes,$1.71,170.8010426 gb - regional data transfer at $0.01 ea.
40,EBS,,SnapshotUsage,$62.67,1139.5431932727274 gb-month at $0.06 ea.
1,EBS,/dev/sdb,SnapshotUsage,$181.81,3636.1464779999997 gb-month at $0.05 ea.
18,EBS,/dev/sdb,VolumeUsage.gp2,$106.0,1060.0 gb-month at $0.1 ea.
193,EBS,/dev/xvda,SnapshotUsage,$1.12,22.41523204 gb-month at $0.05 ea.
396,EBS,/dev/xvda,VolumeIOUsage,$0.09,1.8547760000000002 million i/o requests at $0.05 ea.
288,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
376,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtstore2-prd

#### Total cost for uc3-mrtstore2-prd: $512.41

,aws_service,device,usage_type,cost,basis
7,BoxUsage,,c4.xlarge,$143.28,720.0 instance hour at $0.2 ea.
210,DataTransfer,,Out-Bytes,$1.04,11.54612118888889 gb - first 10 tb / month data transfer at $0.09 ea.
176,DataTransfer,,Regional-Bytes,$2.3,230.24803390000002 gb - regional data transfer at $0.01 ea.
41,EBS,,SnapshotUsage,$61.15,1111.883734909091 gb-month at $0.06 ea.
195,EBS,/dev/xvda,SnapshotUsage,$1.11,22.1191887 gb-month at $0.05 ea.
397,EBS,/dev/xvda,VolumeIOUsage,$0.09,1.801598 million i/o requests at $0.05 ea.
290,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
0,EBS,/dev/xvdb,SnapshotUsage,$192.74,3854.707906 gb-month at $0.05 ea.
11,EBS,/dev/xvdb,VolumeUsage.gp2,$110.0,1100.0 gb-month at $0.1 ea.
378,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for store stg: $599.86

#### uc3-mrtstore-stg

#### Total cost for uc3-mrtstore-stg: $265.59

,aws_service,device,usage_type,cost,basis
5,BoxUsage,,c4.xlarge,$143.28,720.0 instance hour at $0.2 ea.
73,EBS,/dev/sdb,SnapshotUsage,$14.42,288.47951259999996 gb-month at $0.05 ea.
17,EBS,/dev/sdb,VolumeUsage.gp2,$106.0,1060.0 gb-month at $0.1 ea.
192,EBS,/dev/xvda,SnapshotUsage,$1.12,22.48150198 gb-month at $0.05 ea.
411,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.321492 million i/o requests at $0.05 ea.
287,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
375,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtstore2-stg

#### Total cost for uc3-mrtstore2-stg: $334.27

,aws_service,device,usage_type,cost,basis
8,BoxUsage,,c4.xlarge,$143.28,720.0 instance hour at $0.2 ea.
465,DataTransfer,,Regional-Bytes,$0.01,1.4725473 gb - regional data transfer at $0.01 ea.
29,EBS,/dev/sdb,SnapshotUsage,$89.05,1781.0025202 gb-month at $0.05 ea.
27,EBS,/dev/sdb,VolumeUsage.gp2,$100.0,1000.0 gb-month at $0.1 ea.
189,EBS,/dev/xvda,SnapshotUsage,$1.16,23.10090008 gb-month at $0.05 ea.
412,EBS,/dev/xvda,VolumeIOUsage,$0.07,1.3157220000000003 million i/o requests at $0.05 ea.
291,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
379,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## sword

##### Total cost: $73.58

###

##### Total cost for sword : $0.0

### dev

##### Total cost for sword dev: $17.18

#### uc3-mrtsword-dev

#### Total cost for uc3-mrtsword-dev: $17.18

,aws_service,device,usage_type,cost,basis
120,BoxUsage,,t2.small,$5.7,245.74668331896552 instance hour at $0.02 ea.
143,EBS,/dev/sdb,SnapshotUsage,$4.94,98.80482703999999 gb-month at $0.05 ea.
137,EBS,/dev/sdb,VolumeUsage,$5.0,99.99999935999999 gb-month at $0.05 ea.
242,EBS,/dev/xvda,SnapshotUsage,$0.79,15.79728194 gb-month at $0.05 ea.
430,EBS,/dev/xvda,VolumeIOUsage,$0.05,1.043598 million i/o requests at $0.05 ea.
292,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
380,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for sword prd: $39.26

#### uc3-mrtsword-prd

#### Total cost for uc3-mrtsword-prd: $39.26

,aws_service,device,usage_type,cost,basis
70,BoxUsage,,t2.small,$16.56,713.7931034482758 instance hour at $0.02 ea.
425,DataTransfer,,Regional-Bytes,$0.06,5.5641411 gb - regional data transfer at $0.01 ea.
131,EBS,,SnapshotUsage,$5.38,97.7742252 gb-month at $0.06 ea.
130,EBS,/dev/sdb,SnapshotUsage,$5.46,109.16476947999999 gb-month at $0.05 ea.
93,EBS,/dev/sdb,VolumeUsage.gp2,$10.0,100.00000010000001 gb-month at $0.1 ea.
211,EBS,/dev/xvda,SnapshotUsage,$1.03,20.68543 gb-month at $0.05 ea.
406,EBS,/dev/xvda,VolumeIOUsage,$0.08,1.5284560000000003 million i/o requests at $0.05 ea.
293,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
381,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for sword stg: $17.13

#### uc3-mrtsword-stg

#### Total cost for uc3-mrtsword-stg: $17.13

,aws_service,device,usage_type,cost,basis
114,BoxUsage,,t2.small,$5.7,245.76513487068965 instance hour at $0.02 ea.
144,EBS,/dev/sdb,SnapshotUsage,$4.88,97.5307635 gb-month at $0.05 ea.
138,EBS,/dev/sdb,VolumeUsage,$5.0,99.99999935999999 gb-month at $0.05 ea.
236,EBS,/dev/xvda,SnapshotUsage,$0.81,16.114059259999998 gb-month at $0.05 ea.
437,EBS,/dev/xvda,VolumeIOUsage,$0.05,0.9404279999999999 million i/o requests at $0.05 ea.
294,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
382,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## ui

##### Total cost: $514.24

###

##### Total cost for ui : $0.0

### dev

##### Total cost for ui dev: $12.45

#### uc3-mrtui-dev

#### Total cost for uc3-mrtui-dev: $12.45

,aws_service,device,usage_type,cost,basis
129,BoxUsage,,t2.small,$5.7,245.73594370689653 instance hour at $0.02 ea.
169,EBS,/dev/sdb,SnapshotUsage,$2.6,51.98523863999999 gb-month at $0.05 ea.
477,EBS,/dev/sdb,VolumeIOUsage,$0.01,0.20850299999999997 million i/o requests at $0.05 ea.
165,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
244,EBS,/dev/xvda,SnapshotUsage,$0.75,14.975327159999999 gb-month at $0.05 ea.
440,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.89172 million i/o requests at $0.05 ea.
295,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
383,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for ui prd: $476.75

#### uc3-mrtui01-prd

#### Total cost for uc3-mrtui01-prd: $160.77

,aws_service,device,usage_type,cost,basis
54,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
181,DataTransfer,,Regional-Bytes,$1.6,159.5121376 gb - regional data transfer at $0.01 ea.
98,EBS,,SnapshotUsage,$7.84,142.47006927272727 gb-month at $0.06 ea.
99,EBS,/dev/sdc,SnapshotUsage,$7.8,156.09597326 gb-month at $0.05 ea.
13,EBS,/dev/sdc,VolumeUsage.gp2,$108.0,1080.0 gb-month at $0.1 ea.
188,EBS,/dev/xvda,SnapshotUsage,$1.17,23.453552859999995 gb-month at $0.05 ea.
330,EBS,/dev/xvda,VolumeIOUsage,$0.17,3.45931 million i/o requests at $0.05 ea.
296,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
404,EBS,swap,VolumeIOUsage,$0.08,1.6170079999999998 million i/o requests at $0.05 ea.
384,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtui02-prd

#### Total cost for uc3-mrtui02-prd: $157.94

,aws_service,device,usage_type,cost,basis
55,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
329,DataTransfer,,Regional-Bytes,$0.18,18.250023199999998 gb - regional data transfer at $0.01 ea.
104,EBS,,SnapshotUsage,$7.15,130.0491662727273 gb-month at $0.06 ea.
103,EBS,/dev/sdc,SnapshotUsage,$7.32,146.33127174 gb-month at $0.05 ea.
14,EBS,/dev/sdc,VolumeUsage.gp2,$108.0,1080.0 gb-month at $0.1 ea.
203,EBS,/dev/xvda,SnapshotUsage,$1.07,21.467292219999997 gb-month at $0.05 ea.
395,EBS,/dev/xvda,VolumeIOUsage,$0.1,1.9252479999999996 million i/o requests at $0.05 ea.
298,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
475,EBS,swap,VolumeIOUsage,$0.01,0.21330000000000002 million i/o requests at $0.05 ea.
386,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtui03-prd

#### Total cost for uc3-mrtui03-prd: $158.04

,aws_service,device,usage_type,cost,basis
56,BoxUsage,,t2.medium,$33.41,720.0000000000001 instance hour at $0.05 ea.
184,DataTransfer,,Regional-Bytes,$1.48,148.1719309 gb - regional data transfer at $0.01 ea.
106,EBS,,SnapshotUsage,$6.53,118.72436814545453 gb-month at $0.06 ea.
105,EBS,/dev/sdc,SnapshotUsage,$6.64,132.77927524 gb-month at $0.05 ea.
15,EBS,/dev/sdc,VolumeUsage.gp2,$108.0,1080.0 gb-month at $0.1 ea.
190,EBS,/dev/xvda,SnapshotUsage,$1.15,22.96982602 gb-month at $0.05 ea.
337,EBS,/dev/xvda,VolumeIOUsage,$0.11,2.1256399999999998 million i/o requests at $0.05 ea.
300,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
455,EBS,swap,VolumeIOUsage,$0.03,0.507269 million i/o requests at $0.05 ea.
388,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for ui stg: $25.04

#### uc3-mrtui01-stg

#### Total cost for uc3-mrtui01-stg: $12.49

,aws_service,device,usage_type,cost,basis
118,BoxUsage,,t2.small,$5.7,245.7488861637931 instance hour at $0.02 ea.
168,EBS,/dev/sdb,SnapshotUsage,$2.6,52.00605988 gb-month at $0.05 ea.
166,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
237,EBS,/dev/xvda,SnapshotUsage,$0.8,16.04420078 gb-month at $0.05 ea.
446,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.7464669999999999 million i/o requests at $0.05 ea.
297,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
385,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtui02-stg

#### Total cost for uc3-mrtui02-stg: $12.55

,aws_service,device,usage_type,cost,basis
122,BoxUsage,,t2.small,$5.7,245.7461311206897 instance hour at $0.02 ea.
170,EBS,/dev/sdb,SnapshotUsage,$2.6,51.93656039999999 gb-month at $0.05 ea.
167,EBS,/dev/sdb,VolumeUsage,$2.65,53.000000639999996 gb-month at $0.05 ea.
229,EBS,/dev/xvda,SnapshotUsage,$0.86,17.26996958 gb-month at $0.05 ea.
445,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.7469489999999999 million i/o requests at $0.05 ea.
299,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
387,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

## web

##### Total cost: $117.69

###

##### Total cost for web : $0.0

### dev

##### Total cost for web dev: $9.41

#### uc3-mrtweb-dev

#### Total cost for uc3-mrtweb-dev: $9.41

,aws_service,device,usage_type,cost,basis
108,BoxUsage,,t2.small,$5.94,256.14790392241383 instance hour at $0.02 ea.
214,EBS,/dev/sdb,SnapshotUsage,$1.0,20.05891148 gb-month at $0.05 ea.
216,EBS,/dev/sdb,VolumeUsage,$1.0,20.00000016 gb-month at $0.05 ea.
246,EBS,/dev/xvda,SnapshotUsage,$0.72,14.47203394 gb-month at $0.05 ea.
448,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.7285769999999999 million i/o requests at $0.05 ea.
301,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
389,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### prd

##### Total cost for web prd: $96.45

#### uc3-mrtweb-prd

#### Total cost for uc3-mrtweb-prd: $96.45

,aws_service,device,usage_type,cost,basis
45,BoxUsage,,m4.large,$50.4,503.99999999999994 instance hour at $0.1 ea.
142,BoxUsage,,t2.small,$4.95,213.230543362069 instance hour at $0.02 ea.
57,DataTransfer,,Out-Bytes,$27.61,306.7442324444445 gb - first 10 tb / month data transfer at $0.09 ea.
100,DataTransfer,,Regional-Bytes,$7.64,764.4991024 gb - regional data transfer at $0.01 ea.
185,EBS,,SnapshotUsage,$1.46,26.559012436363638 gb-month at $0.06 ea.
182,EBS,/dev/sdb,SnapshotUsage,$1.55,30.911885039999998 gb-month at $0.05 ea.
394,EBS,/dev/sdb,VolumeIOUsage,$0.1,1.9767629999999998 million i/o requests at $0.05 ea.
217,EBS,/dev/sdb,VolumeUsage,$1.0,20.00000016 gb-month at $0.05 ea.
219,EBS,/dev/xvda,SnapshotUsage,$0.97,19.332576919999998 gb-month at $0.05 ea.
402,EBS,/dev/xvda,VolumeIOUsage,$0.08,1.6298579999999998 million i/o requests at $0.05 ea.
302,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
390,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

### stg

##### Total cost for web stg: $11.83

#### uc3-mrtweb-stg

#### Total cost for uc3-mrtweb-stg: $9.28

,aws_service,device,usage_type,cost,basis
112,BoxUsage,,t2.small,$5.7,245.76954056034486 instance hour at $0.02 ea.
213,EBS,/dev/sdb,SnapshotUsage,$1.02,20.41288098 gb-month at $0.05 ea.
218,EBS,/dev/sdb,VolumeUsage,$1.0,20.00000016 gb-month at $0.05 ea.
233,EBS,/dev/xvda,SnapshotUsage,$0.82,16.436852419999997 gb-month at $0.05 ea.
443,EBS,/dev/xvda,VolumeIOUsage,$0.04,0.801159 million i/o requests at $0.05 ea.
303,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
391,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.

#### uc3-mrtweb2-stg

#### Total cost for uc3-mrtweb2-stg: $2.55

,aws_service,device,usage_type,cost,basis
326,BoxUsage,,t2.small,$0.2,8.694120948275863 instance hour at $0.02 ea.
456,EBS,/dev/sdb,SnapshotUsage,$0.03,0.5023076799999999 gb-month at $0.05 ea.
208,EBS,/dev/sdb,VolumeUsage,$1.05,20.999999519999996 gb-month at $0.05 ea.
306,EBS,/dev/xvda,SnapshotUsage,$0.57,11.40615564 gb-month at $0.05 ea.
304,EBS,/dev/xvda,VolumeUsage,$0.6,11.99999952 gb-month at $0.05 ea.
392,EBS,swap,VolumeUsage,$0.1,2.00000016 gb-month at $0.05 ea.